/* navigation bar info*/
nav
  {
    background-color:#EE3B98;
  }

  nav ul
  {
    list-style-type:none;
    margin:0;
    text-align: left;
  }

  nav li
  {
    display:inline-block;
    width: 25%;
    font-size: 4vw;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top-style: none;
    display: inline-block;
    padding: .5em;
  }

  nav li a
  {
    display:block;
    color:#f6eee4;
  }

  nav li a:hover{
    color: #dc68e4;
    text-decoration: underline; 
  }

  #headers img
  {
    width: 100%;
    display: block;
  }

  /* Heading info */
  #headers h1
  {
    font-family: "shantell-sans-variable", sans-serif;
    width: 100%;
    font-size: 19vw;
    margin-top: -2px;
    color: #EE3B98;
  }

  #headers h3
  {
    font-family: "shantell-sans-variable", sans-serif;
    width: 100%;
    font-size: 10vw;
    margin-top: -15%;
    color: #fe87c4;
  }

  /* footer info */
  footer
  {
    text-align: left;
    font-size: 1em;
    background-color:#dc68e4;
    color:#f6eee4;
    padding-top:0%;
    padding-bottom:1%;
    padding-left:0%;
    padding-right:0%;
  }

  /* body into */

  table{
    width:100%
  }

  td,th{
    border: 1px solid black;
  }

  .gallery{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
  }

  main{
    font-family: "shantell-sans-variable", sans-serif;
    font-size: 3vw;
  }

  .list-view{
    display: none;
  }

  .gallery img{
    width: 100%;
    margin: 0;
  padding: 0;
  display: block;
  }
  

  figure
  {
    border: 10px solid #fe87c4;
    box-shadow: 6px 6px 10px #dc68e4	;
  }

  figcaption
  {
    padding: 2%;
    border-top: 4px solid #2a1f14;
  }
  
  .row, .row2, .row3
  {
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .row img,.row3 img{
    width: 100%;
    
  }

  .row{
    font-size: 2vw;
  }

  .row3{
    font-size: 2vw;
  }

  .hobbie-txt{
    font-size: 2vw;
    background-image: linear-gradient(#EE3B98, #faf1f7);
    margin-top: -2.5%;
  }

  .row,.row3
  {
    background-color: #faf1f7;
  }

  .row2{
    font-size:1vw;
    background-image: linear-gradient(#faf1f7,#EE3B98);
  }


/* Media Query for Desktop Viewport*/
@media(min-width:1000px){
  
  .row,.row3{
  background-image: linear-gradient(#EE3B98, #faf1f7);
  }

  .table-view{
    display: table;
  }

  .list-view{
    display: none;
  }
}

/* Tablet*/
  @media (min-width: 600px) and (max-width:999){

    .gallery{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      grid-gap: 30px;
  }
  
  .table-view{
    display: table;
  }

  .list-view{
    display: none;
  }

}
  
  /*mobile*/
  @media (max-width: 599px){
    .row,.row2,.row3{
      grid-template-columns: 1fr;
    }
    
    .gallery{
      grid-template-columns:1fr;
      grid-gap: 30px;
  }

  .table-view{
    display: none;
  }

  .list-view{
    display: block;
    list-style-type: none;
    padding:0;
  }

  }

  @media print{
    body
    {
      background-color: #EE3B98;
    }
  }

  /*Media Query for Large Desktop Viewports*/
  @media(min-width:1921px)
  {
    .gallery
    {
      grid-template-columns: repeat(4,1fr);
    }
  }