/* navigation bar info*/
nav
  {
    background-color:#36454F;
  }

  nav ul
  {
    list-style-type:none;
    margin:0;
    text-align: left;
  }

  nav li
  {
    display:inline-block;
    width: 25%;
    font-size: 4vw;
    font-family:sans-serif;
    font-weight: bold;
    border-top-style: none;
    display: inline-block;
    padding: .5em;
  }

  nav li a
  {
    display:block;
    color:#f6eee4;
  }

  #headers img
  {
    width: 100%;
    display: block;
  }

  /* Heading info */
  #headers h1
  {
    font-family: sans-serif;
    width: 100%;
    font-size: 19vw;
    margin-top: -3%;
    color: #36454F;
  }

  #headers h3
  {
    font-family: sans-serif;
    width: 100%;
    font-size: 10vw;
    margin-top: -15%;
    color: #36454F;
  }

  /* footer info */
  footer
  {
    text-align: left;
    font-size: 1em;
    background-color:#36454F;
    color:#f6eee4;
    padding-top:0%;
    padding-bottom:1%;
    padding-left:0%;
    padding-right:0%;
  }

  /* body into */

  .gallery{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
  }

  .gallery img{
    width: 100%;
  }
  
  figure
  {
    border: 4px solid #406244;
    box-shadow: 6px 6px 10px #242551;
  }

  figcaption
  {
    padding: 2%;
    border-top: 4px solid #2a1f14;
  }
  .row, .row2, .row3
  {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .row img,.row3 img{
    width: 100%;
  }

  .row
  {
    background-color: #c94d4d;
  }

  .row2
  {
    background-color: #d8832b;
  }

  .row3
  {
    background-color: #dab71f;
  }

  body
  {
    font-size: 20px;
    font-family: sans-serif;
  }

/* Tablet*/
  @media (max-width: 600px){

    .gallery{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      grid-gap: 30px;
  }
  }
  
  
  /*mobile*/
  @media (max-width: 500px){
    .row,.row2,.row3{
      grid-template-columns: 1fr;
    }
    
    .gallery{
      grid-template-columns:1fr;
      grid-gap: 30px;
  }
  }